/*CSS -- RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: antiquewhite;
    color: black;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

}

nav a {
color: black;
text-decoration: none;
font-weight: bold;

}

nave a:hover {
      color: darkorchid;


}

/* hero section */

#hero {
     height: 80vh;
     background-color: bisque;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 2rem;

}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: black;

}

.btn {
    display: inline-block;
    background-color: grey;
    color: brown;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1.5rem;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
}